@import 'tailwindcss';
@source "../app";
@source "../imports";
@source "../styles";

@import 'tw-animate-css';

@utility no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
